{% extends "shop/base.html" %}

{% block title %}Your Shopping Cart{% endblock title %}

{% block content %}
    <h1>Your Shopping Cart 🛒</h1>

    <table style="width: 100%; border-collapse: collapse; margin-top: 20px; background: white; border-radius: 10px; overflow: hidden; box-shadow: 0 4px 15px rgba(0,0,0,0.05);">
        <thead style="background: #2c3e50; color: white;">
            <tr>
                <th style="padding:15px; text-align:left;">Products</th>
                <th style="padding:15px;">Quantity</th>
                <th style="padding: 15px">Unit Price</th>
                <th style="padding: 15px;">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr style="border-bottom: 1px solid #eee; text-align: center;">
                        <td style="padding: 15px; text-align: left; display: flex; align-items: center; gap: 15px;">
                            <img src="{{product.image.url}}" style="width:50px; border-radius: 5px;">
                            <a href="{{product.get_absolute_url}}" style="text-decoration: none; color: #2c3e50; font-weight:bold;">
                                {{product.name}}
                            </a>
                        </td>
                        <td style="padding:15px;">{{item.quantity}}</td>
                        <td style="padding:15px;">N{{item.price}}</td>
                        <td style="padding:15px; font-weight: bold">N{{item.total_price}}</td>
                    </tr>
                {% endwith %}
            {% empty%}
                    <tr>
                        <td colspan="4" style="padding: 40px; text-align: center; color: #7f8c8d;">
                            Your cart is empty. <a href="{% url 'shop:product_list' %}" style="color: #3498db;">Go Shopping!</a>
                        </td>
                    </tr>
            {% endfor %}

            <tr style= "background: #f8f9fa; font-size: 1.2rem; font-weight: bold;">
                <td colspan="3" style="padding: 15px; text-align: right;">Total Amount</td>
                <td style = "padding: 15px; color: #27ae60; font-size: bold;">N{{cart.get_total_price}}</td>
            </tr>
        </tbody>
    </table>

    <div style="margin-top: 30px; display: flex; justify-content: space-between;">
        <a href="{% url 'shop:product_list' %}" class="btn" style="background-color: #95a5a6;">Continue Shopping</a>
        {% if cart %}
            <a href="#" class="btn" style="background-color: #27ae60;">Proceed to Checkout →</a>
        {% endif %}
    </div>
{% endblock content %}