{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{category.name}}{% else %}Products{% endif %}
{% endblock title %}

{% block content %}

    <form method="get" action="{% url 'shop:product_list' %}" style="margin-bottom: 30px; display: flex; gap: 10px;">
        <input type="text" 
            name="query" 
            placeholder="Search for products..." 
            value="{{ query|default:'' }}" 
            style="flex: 1; padding: 12px; border: 1px solid #ddd; border-radius: 8px; font-size: 1rem;">
        
        <button type="submit" class="btn" style="margin-top: 0; cursor: pointer; border: none;">
            Search
        </button>
        
        {% if query %}
            <a href="{% url 'shop:product_list' %}" class="btn" style="background-color: #95a5a6; margin-top: 0;">Clear</a>
        {% endif %}
    </form>
    <h1>{% if category %}{{category.name}}{% else %}Our Collections{% endif %}</h1>

    <div class="category-sidebar">
        <strong>Filter by:</strong>
        <a href = "{% url "shop:product_list" %}">All</a>
        {% for c in categories %}
            <a href="{{c.get_absolute_url}}">{{c.name}}</a>
        {% endfor %}
    </div>

    <div class="product-grid">
        {% for product in  products%}
            <div class="card">
                <a href="{{product.get_absolute_url}}">
                    {% if product.image %}
                        <img src="{{product.image.url}}" alt="{{product.name}}">
                    {% endif %}
                </a>
                <div class="card-info">
                    <h3><a href="{{product.get_absolute_url}}" style="text-decoration: none; color: inherit;">{{product.name}}</a></h3>
                    <p class="price">N{{product.price}}</p>
                    <a href="{{product.get_absolute_url}}" class="btn">View Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}



